* {
  font-family: "Times New Roman", Arial, sans-serif;
}

body {
  background-color: bisque;
  margin-top: 0px;
}

header{
  position: sticky;
  top: 0;
  background-color: rgb(240, 181, 110);
  padding-top: 0.5rem;
}

header span{
  font-weight: 600;
  font-size: 3rem;
  width: 100%;
  margin-left: 1.25rem;
}

.projectsContainer {
    display:inline-flex;
}

#projectsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 30rem;
  margin-left: 3rem;
  margin-top: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-size: 1.5rem;
}

.project_title{
  font-weight: 900;
  background-color: rgb(240, 181, 110);
  padding: 0.25rem;
}

li{
  padding: 0.25rem;
}

li:hover{
  font-weight: 900;
}

/* li:not(:last-child) {
    margin-bottom: 5px;
} */

/* Zebra striped projects list */
li:nth-child(odd) {
  background-color: rgb(240, 181, 110);
}

.tasksContainer {
  height: 20rem;
  width: 80rem;
  margin-left: 1rem;
  margin-top: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  /* overflow-wrap: break-word; */
  text-wrap: nowrap;
  font-size: 1.0rem;
}

.task {
  display: flex;
  align-items: center;
  height: 1rem;
  padding: 0.5rem;
  margin-left: 5rem;
}

.task:first-child {
  font-weight: 600;
  position: sticky;
  top: 0;
}

/* Zebra striped tasks list */
.task:nth-child(odd) {
  background-color: rgb(240, 181, 110);
}

.task_title {
  width: 10rem;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task_title:hover{
  font-weight: 900;
}

.task_description {
  width: 25rem;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task_due_date {
  margin-right: 1rem;
  width: 10rem;
}

.task_completed_date {
  margin-right: 1rem;
  width: 12rem;
}

.task_edit{
  width: 1rem;
  height: auto;  
}

.task_delete{
  width: 1rem;
  height: auto;  
}

#nav_buttons{
  text-align: left;
  margin-left: 5rem;
  /* border: solid black; */
  width: 18rem;
}

/* button{
  margin-left: 2rem;
} */

#newProjectButton,#newTaskButton,#deleteProjectButton,#deleteTaskButton{
  font-weight: 300;
  font-size: 1.5rem;
  /* border-left: 4rem; */
  border: none;
  /* border-radius: 15px; */
  /* background-color: rgb(240, 181, 110); */
  background-color: transparent;
  text-align: left;
  width: 16rem;
}

#newProjectButton:hover,#newTaskButton:hover,#deleteProjectButton:hover,#deleteTaskButton:hover{
  font-weight: 900;
}
