* {
  font-family: "Times New Roman", Arial, sans-serif;
}

html{
  font-size: 1.75vmin;
}

@media (min-aspect-ratio: 3/1) {
  html {
    font-size: 14vmin;
  }
}

body {
  background-color: bisque;
  margin-top: 0px;
  height: 95vh;
  width: 100vw;
}

header{
  position: sticky;
  top: 0;
  background-color: rgb(240, 181, 110);
  padding-top: 0.5rem;
}

header span{
  font-weight: 600;
  font-size: 3rem;
  width: 100%;
  margin-left: 1.25rem;
}

.projectsContainer {
    display:inline-flex;
}

.projectsListContainer {
  height: 20rem;
  width: 30rem;
  margin-left: 3rem;
  margin-top: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: nowrap;
  font-size: 1.5rem;
}

.project {
  display: flex;
  align-items: left;
  height: 2.5rem;
  /* width: 30rem; */
}

.project:first-child {
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: rgb(240, 181, 110);
}

.project_title{
  /* font-weight: 900; */
  padding: 0.25rem;
  display: inline-block;
  width: 30rem;
  font-size: 1.5rem;
}

.tasks_count{
  padding: 0.25rem;
  border: 1px solid rgb(240, 181, 110);
  background-color: rgb(240, 181, 110);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.project_title:hover{
  font-weight: 900;
}

.project_edit{
  width: 1.7rem;
  height: 1.7rem;
}

.project_delete{
  width: 1.7rem;
  height: 1.7rem;
}

.project_edit_dummy{
  width: 1.7rem;
  height: 1.7rem;
}

.project_delete_dummy{
  width: 1.7rem;
  height: 1.7rem;
}

.project_new{
  width: 2rem;
  height: 2rem;
  float: right;
  background-color: rgb(240, 181, 110);
  margin: 0.25rem;
}

.project_edit:hover,.project_delete:hover,.project_new:hover{
  background-color: rgb(218, 132, 28);
}

/* Zebra striped projects list */
/* .project:nth-child(odd) {
  background-color: rgb(240, 181, 110);
} */

/* .project:nth-child(even) {
  background-color: white;
} */

.tasksContainer {
  height: 20rem;
  width: 80rem;
  margin-left: 1rem;
  margin-top: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  /* overflow-wrap: break-word; */
  text-wrap: nowrap;
  font-size: 1.0rem;
}

.task {
  display: flex;
  align-items: center;
  height: 1rem;
  padding: 0.5rem;
  margin-left: 5rem;
  margin-top: 0.5rem;
  background-color: rgb(250, 218, 180);
}

.task:hover {
  transform: scale(1.003);
  transform-origin: 50% 50%;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  transition: all .2s ease-out;
}

.completed {
  background-color: rgb(185, 184, 184);
  color: rgb(116, 114, 114);
}

.task:first-child {
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: rgb(240, 181, 110);
}

/* Zebra striped tasks list */
/* .task:nth-child(odd) {
  background-color: rgb(240, 181, 110);
} */

.task_priority{
  border-left: 0.35rem solid green;
}

.priority-Low {
  border-left: 0.35rem solid green;
  /* background-color: green; */
}

.priority-Medium {
  border-left: 0.35rem solid orange;
}

.priority-High {
  border-left: 0.35rem solid red;
}

.task_title {
  width: 10rem;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .task_title:hover{
  font-weight: 900;
} */

.task_description {
  width: 25rem;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task_due_date {
  margin-right: 1rem;
  width: 10rem;
}

.task_completed_date {
  margin-right: 1rem;
  width: 12rem;
}

.task_edit{
  width: 1.5rem;
  height: auto;  
}

.task_delete{
  width: 1.5rem;
  height: auto;  
}

.task_new{
  width: 1.5rem;
  height: auto;
  float: left;
  background-color: rgb(240, 181, 110);
}

.task_edit:hover,.task_delete:hover,.task_new:hover{
  background-color: rgb(218, 132, 28);
}

/* Modal delete (background) */
.modalDelete {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /*Black w/ opacity */
}

/* Modal Header */
#deleteProjectHeader,
#deleteTaskHeader {
  background-color: rgb(240, 181, 110);
  /* color: white; */
  font-size: 2rem;
  margin: 0;
  padding: 0.25rem;
}

/* Modal Content */
.modalDeleteContent {
  background-color: bisque;
  margin: 5% auto; 
  padding: 2rem;
  border: 0.1rem solid rgb(240, 181, 110);
  width: 20%;
}

/* Cancel and Delete buttons */
.cancelProject,
.deleteProject,
.cancelTask,
.deleteTask {
  color: #aaa;
  background-color: bisque;
  float: right;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10%;
  margin-left: 1rem;
}

.cancelProject:focus,
.cancelProject:hover,
.deleteProject:focus,
.deleteProject:hover,
.cancelTask:focus,
.cancelTask:hover,
.deleteTask:focus,
.deleteTask:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}